.required::after{
    content: "*";
    color: teal;
    font-size: 3rem;
}

.required::before {
    content: "- ";
    color: darkblue;
    font-size: 3rem;
}

.quote {
    font-style: italic;
    color: #333;
}

.quote::before {
    content: "\201C";
}

.quote::after{
    content: "\201D";
}