* {
  margin: 0;
  padding: 0;
}
.game {
  height: 100vh;
  background-image: url(apocalypse-2459465_1920.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3%;
}
.game .logo {
  background-image: url(dsqdxs.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}
.plateau {
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 80vw;
  height: 80vh;
  border: 2px solid black;
  display: none;
}
.cell {
  border: 1px solid black;
}
.cell1 {
  background-color: black;
}
#btn,
#btnt {
  height: 10vh;
  width: 50vh;
  background: linear-gradient(to right, black, gray);
  border: 3px orange solid;
  color: orange;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
}
/* Style du modal */
.modal {
  display: none;
  /* Cache le modal par défaut */
  position: fixed;
  /* Position fixe pour couvrir l'ensemble de la fenêtre */
  z-index: 3;
  /* Priorité z */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Ajoute un défilement si nécessaire */
  background-color: #000000;
  /* Couleur de fond du modal */
  background-color: rgba(0, 0, 0, 0.4);
  /* Couleur de fond du modal avec transparence */
  border-radius: 20%;
}
/* Contenu du modal */
.modal-content {
  color: orange;
  background-color: black;
  margin: 15% auto;
  /* Centre le modal verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Largeur du contenu */
  text-align: center;
  text-decoration: none;
}
/* Style du bouton de fermeture (×) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
