.container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 100px;
    flex-basis: 150px;
    margin: 1%;
    }