* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #efe784;
}
main {
  display: flex;
  background-color: #efe784;
  width: 960px;
  height: 2000px;
  margin: auto;
  flex-direction: column;
}
header {
  height: 17%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
header .image-fond {
  display: flex;
  background-image: url(Assets/Image/header.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
header .logo {
  background-image: url(Assets/Image/logoheader.png);
  position: absolute;
  height: 40%;
  width: 43%;
  background-repeat: no-repeat;
}
header .flexitem0 {
  position: absolute;
  padding-top: 15%;
  letter-spacing: 10px;
}
header .flexitem0 h1 {
  color: #efe784;
}
.container-intro {
  height: 13%;
  flex-direction: column;
  text-align: center;
  padding-top: 3%;
  background-color: #3e3838;
  padding: 3% 15%;
}
.container-intro .flexitem1 {
  color: #efe784;
  border-top: #efe784 1px solid;
  border-bottom: #efe784 1px solid;
  margin-bottom: 3%;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 10px;
}
.container-intro .flexitem2 :nth-child(1) {
  color: #efe784;
}
.avengers {
  display: flex;
  height: 20%;
  padding: 5% 15%;
  background-color: white;
  flex-direction: column;
}
.avengers .flexitem3 {
  color: #6cbcb3;
  padding-bottom: 2%;
  font-size: 24px;
}
.avengers .flexitem4 :nth-child(1) {
  letter-spacing: 1px;
  line-height: 120%;
  padding-bottom: 3%;
  margin-top: 2%;
}
.avengers .img-avengers {
  background-image: url(Assets/Image/avengers.jpg);
  background-repeat: no-repeat;
  height: 100%;
}
.avengers .flexitem5 {
  color: #6cbcb3;
}
.Star {
  background-color: #6cbcb3;
  height: 20%;
  padding: 5% 15%;
}
.Star .flexitem6 {
  padding-bottom: 3%;
  font-size: 24px;
}
.Star .flexitem7 :nth-child(1) {
  letter-spacing: 1px;
  margin-bottom: 2%;
}
.Star .img-star {
  background-image: url(Assets/Image/star.jpg);
  height: 50%;
  margin-bottom: 3%;
}
.Star .flexitem8 {
  color: white;
}
.woman {
  background-color: #3e3838;
  height: 20%;
  padding: 5% 15%;
}
.woman .flexitem9 {
  color: white;
  padding-bottom: 3%;
  font-size: 24px;
}
.woman .flexitem10 {
  color: white;
  letter-spacing: 1px;
}
.woman .img-woman {
  background-image: url(Assets/Image/woman.jpg);
  height: 150px;
  margin: 3% 0;
}
.woman .flexitem11 {
  color: white;
}
footer {
  padding: 2% 15%;
  display: flex;
  background-color: #282828;
  height: 5%;
  flex-direction: column;
}
footer .img-logofooter {
  background-image: url(Assets/Image/logofooter.png);
  background-repeat: no-repeat;
  height: 50%;
  width: 22%;
}
footer .flexitem12 {
  color: white;
  letter-spacing: 2px;
}
footer span {
  color: #efe784;
}
@media screen and (max-width: 500px) {
  main {
    font-size: 26px;
  }
  header .image-fond {
    background-image: none;
    background-color: #3e3838;
  }
  h1 {
    font-size: 28px;
  }
  .container-intro .flexitem1 {
    display: none;
  }
  .container-intro .flexitem2 {
    font-size: 24px;
  }
  .avengers {
    background-image: url(Assets/Image/avengers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1% 15% 3% 15%;
  }
  .avengers::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .avengers .img-avengers {
    display: none;
  }
  .avengers .flexitem3 {
    position: relative;
  }
  .avengers .flexitem4 {
    color: white;
    position: relative;
  }
  .avengers .flexitem5 {
    position: relative;
  }
  .Star {
    background-image: url(Assets/Image/star.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1% 15% 3% 15%;
  }
  .Star::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .Star .img-star {
    display: none;
  }
  .Star .flexitem6 {
    color: #efe784;
    position: relative;
  }
  .Star .flexitem7 {
    color: white;
    position: relative;
  }
  .Star .flexitem8 {
    position: relative;
    color: #efe784;
  }
  .woman {
    background-image: url(Assets/Image/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    position: relative;
    padding: 1% 15% 3% 15%;
  }
  .woman::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .woman .img-woman {
    display: none;
  }
  .woman .flexitem9 {
    color: #6cbcb3;
    position: relative;
  }
  .woman .flexitem10 {
    color: white;
    position: relative;
  }
  .woman .flexitem11 {
    color: #6cbcb3;
    position: relative;
  }
}
