.premiere :nth-child(1){
    font-size: 50px;
    color: red;
}

.premiere :nth-child(3){
    font-size: 80px;
    color: green;
}

.deuxieme :nth-child(1) {
    font-size: 50px;
    color: blueviolet;
}

.premiere p:nth-of-type(1) {
    font-size: 50px;
    color: brown;
    font-weight: bold
}