* {
  margin: 0;
  padding: 0;
}
main {
  width: 1440px;
  height: 2643px;
  margin: auto;
  font-family: "Roboto condensed", sans-serif;
  background-color: gray;
}
nav {
  height: 60px;
  background-color: #ecefd8;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 20px 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.header {
  height: 400px;
  position: relative;
  display: flex;
}
.header .img-fond {
  background-image: url(Assets/Image/Mask\ group.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.header .img-logo {
  background-image: url(Assets/Image/logo-Header.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  height: 100%;
  width: 100%;
}
.header .h2 {
  position: absolute;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%;
  top: 65%;
  text-align: center;
}
.intro {
  height: 440px;
  background-color: #ecefd8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .h2 {
  font-size: 20px;
  margin: 3% 0;
}
.intro .p-intro {
  max-width: 50%;
  letter-spacing: 1px;
  line-height: 35.28px;
  margin-bottom: 5%;
  text-align: center;
}
.intro .bouton-savoir {
  width: 211px;
  height: 65px;
  background-color: #849561;
  text-align: center;
}
.intro .bouton-savoir :nth-child(1) {
  margin: 2%;
  text-decoration: none;
  color: #eed690;
}
.moment {
  height: 560px;
  background-color: #393939;
  display: flex;
  justify-content: space-between;
}
.moment .flexitem1 {
  height: 404px;
  width: 253px;
  background-color: #849561;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  position: relative;
}
.moment .flexitem1 p {
  max-width: 80%;
  margin: auto;
}
.moment .h2-moment {
  color: #849561;
  width: 1440px;
  height: 26px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.moment .img-ishi {
  background-image: url(Assets/Image/Ishibashi.jpg);
  background-repeat: no-repeat;
  height: 145px;
  width: 253px;
  margin-bottom: 5%;
}
.moment .img-age {
  background-image: url(Assets/Image/The\ Age\ of\ Anxiety.jpg);
  background-repeat: no-repeat;
  height: 145px;
  width: 253px;
  margin-bottom: 5%;
}
.moment .img-apollinaire {
  background-image: url(Assets/Image/Apollinaire.jpg);
  background-repeat: no-repeat;
  height: 145px;
  width: 253px;
  margin-bottom: 5%;
}
.moment .img-femmes {
  background-image: url(Assets/Image/Femmes\ Photographes.jpg);
  background-repeat: no-repeat;
  height: 145px;
  width: 253px;
  margin-bottom: 5%;
}
.moment h2 {
  font-size: 20px;
  margin-bottom: 5%;
}
.moment p {
  font-size: 14px;
}
.moment .bouton-découvrir {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -1.5em;
  transform: translate(-50%);
  width: 145px;
  height: 42px;
  background-color: #393939;
  border: 1px solid #9ab464;
}
.moment .bouton-découvrir :nth-child(1) {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.instal {
  height: 375px;
  position: relative;
}
.instal .img-fond {
  background-image: url(Assets/Image/modern-industrial\ 1.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.instal .cloche {
  height: 81px;
  width: 81px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 70%;
  border: white 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instal .cloche .img-cloche {
  background-image: url(Assets/Image/font-awesome\ -\ cloche.png);
  background-repeat: no-repeat;
  height: 45px;
  width: 62px;
  background-size: contain;
  background-position: center;
}
.instal .h2 {
  position: absolute;
  top: 35%;
  color: white;
  left: 50%;
  transform: translate(-50%);
}
.instal .p-instal {
  text-align: center;
  position: absolute;
  top: 45%;
  color: white;
  left: 25%;
  max-width: 53%;
  font-size: 16px;
  line-height: 28.78px;
}
.footer {
  height: 808px;
  background-color: #393939;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer .h2 {
  color: #849561;
  font-size: 22px;
}
.footer .bradlaura {
  display: flex;
  justify-content: space-evenly;
  gap: 3%;
}
.footer .brad {
  width: 462px;
  height: 404px;
  background-color: #849561;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
.footer .brad .img-brad {
  width: 205px;
  height: 203px;
  background-image: url(Assets/Image/men.jpg);
  border-radius: 50%;
  position: absolute;
  top: -30%;
  left: 28%;
}
.footer .brad .img-laura {
  width: 205px;
  height: 203px;
  background-image: url(Assets/Image/Mask\ group\ \(1\).jpg);
  border-radius: 50%;
  position: absolute;
  top: -30%;
  left: 28%;
}
.footer .brad hr {
  width: 90%;
  align-self: center;
  position: absolute;
  top: 25%;
}
.footer .brad .txt {
  display: flex;
  justify-content: center;
}
.footer .brad .h3 {
  display: flex;
  position: absolute;
  top: 28%;
  color: white;
  width: 100%;
}
.footer .brad .h3-laura {
  display: flex;
  position: absolute;
  top: 28%;
  color: white;
  width: 100%;
  justify-content: flex-end;
}
.footer .brad .p-brad {
  top: 35%;
  position: absolute;
  max-width: 400px;
  color: white;
  line-height: 16.76px;
  letter-spacing: 2px;
  font-size: 14px;
}
.footer .brad .bouton {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
  left: 2%;
  width: 200px;
}
.footer .brad .bouton .bouton1 {
  display: flex;
  width: 49px;
  height: 48px;
  background-color: #393939;
  justify-content: center;
  align-items: center;
}
.footer .brad .img-google {
  background-image: url(Assets/Image/Google+.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 22px;
}
.footer .brad .img-twitter {
  background-image: url(Assets/Image/Twitter.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 22px;
}
.footer .brad .img-facebook {
  background-image: url(Assets/Image/Facebook.png);
  background-repeat: no-repeat;
  height: 18px;
  width: 10px;
}
@media screen and (max-width: 768px) {
  main {
    width: 768px;
    height: 3699px;
  }
  nav {
    height: 102px;
  }
  .header {
    height: 560px;
  }
  .moment {
    justify-content: center;
    height: 1259px;
    flex-wrap: wrap;
    gap: 2%;
  }
  .instal {
    height: 612px;
  }
  .instal .img-fond {
    background-image: none;
    background-color: black;
  }
  .footer {
    height: 798px;
  }
  .footer .brad {
    width: 336px;
  }
}
