.grid-container {
  height: 1500px;
  width: 960px;
}
.grid-container .grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 30%;
  width: 100%;
  margin: 1%;
}
.grid-container .grid-container2 .item {
  background-color: aqua;
  height: 100%;
  width: 100%;
  padding: 1%;
}
.grid-container .grid-container3 {
  display: grid;
  height: 30%;
  width: 100%;
  margin: 1%;
}
.grid-container .grid-container3 .flex-item1 {
  height: 100%;
  width: 100%;
  background-color: red;
}
