main {
    background-color: rgb(126, 126, 209);
    height: 2000px;
    width: 960px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: stretch;
}

#container1 {
    display: flex;
    height: 200px;
    width: 960px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3%;
}

#flex-item1 {
    background-color: sienna;
    width: 400px;
    height: 200px;
}

#flex-item2 {
    background-color: grey;
    width: 400px;
    height: 200px;
}

#container2 {
    background-color: yellow;
    height: 180px;
    width: 100%;
    margin-bottom: 3%;
}

#container3 {
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;

}

#flex-item3 {
    background-color: orange;
    width: 200px;
}

#flex-item4 {
    background-color: orange;
}

#flex-item5 {
    background-color: orange;
}

#flex-item6 {
    background-color: orange;
}

#container4 {
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

#flex-item7 {
    background-color: yellow;
    flex-basis: 48%;
}

#flex-item8 {
    background-color: yellow;
    flex-basis: 48%;
}

footer {
    background-color: green;
    height: 200px;
}

