#container {
    background-color: cadetblue;
    height: 500px;
    /* width: 500px; */
    border: 2px solid sienna;
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap-reverse;
}

#flex-item1 {
    background-color: red;
    width: 200px;
    height: 100px;
}

#flex-item2 {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
}

#flex-item3 {
    background-color: rgb(132, 169, 175);
    width: 200px;
    height: 100px;
}

#flex-item4 {
    background-color: rgb(35, 75, 80);
    width: 200px;
    height: 100px;
}